.left{
    margin-top: 100px;
    float: left;
    width: 50%;
    margin-left: 50px; 
}

.info-btn{
    width: 40%;
    margin-top: 40px;
    margin-left: 23%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid rgb(7, 7, 189);
    color:white;
    background-color: rgb(7, 7, 189);
    
}
.right{
    
    float: right;
    
}

.info-image{
    margin-top: 5px;
    width: 600px;
}