
.head-main{
    text-align: center;
}

.temp-first{
     margin: 0 auto;
    background-color: white;
    font-size: x-small;
    border: solid;
    width: 50%;
     height: auto;

    
}

.top{
    margin-top: 40px;
    margin-left: 40px;
}

.top-email{
   margin-left: 10px;
    color: blue;
}

.objective-temp{
    margin-left: 40px;
}

.education-temp{
    margin-left: 40px;
}

.experience{
    margin-left: 40px;
}

.duration{
    color: blue;
}

.secondJob{
    margin-top: 7px;
    margin-left: 40px;
}

.awards-temp{
    margin-top: 14px;
    margin-left: 40px;
}
